@import '../../styles/variables.scss';

.searchWrap {
  position : relative;
  padding: 0 20px;
  .search {
    box-sizing: border-box;
    height : 50%;
    width : 100%;
    font-family: 'Catamaran';
    background : none;
    outline : none;
    border : 0;
    color : $top-header-text-color;
    font-weight : 800;
    border-bottom : 1px solid $top-header-text-color;
  }
  
  .searchList {
    z-index : 10;
    position : absolute;
    width : calc(100% - 40px);
    font-size : 14px;
    margin-top : -1px;
    padding : 7px;
    padding-bottom : 15px;
    border-radius : 0 0 5px 3px;
    
    .searchArea {
      max-height : 30vh;
      overflow-y : scroll;
      height : 100%;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      a div {
        margin-bottom : 5px;
        font-weight : 500;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
      }
      a div:hover {
        background-color: $dark-link-color;
      }
    }
    .searchArea::-webkit-scrollbar {
      display: none;
    }
  }
}